[gerrit]
	basePath = git
	serverId = d52f9a1e-ff97-47b0-814e-a527dae2c121
	canonicalWebUrl = http://192.168.1.179:4000/
[database]
	type = h2
	database = E:\\www\\gerrit\\db\\ReviewDB
[noteDb "changes"]
	disableReviewDb = true
	primaryStorage = note db
	read = true
	sequence = true
	write = true
[index]
	type = LUCENE
[auth]
	type = HTTP
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
[container]
	user = Jian
	javaHome = D:\\Program Files\\Java\\jdk1.8.0_101\\jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-http://*:8081/
[cache]
	directory = cache
